<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>案件依頼状況参照画面</title>
	<link rel="stylesheet" href="/src/main/resources/static/css/common.css" th:href="@{/css/common.css}">
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
</head>

<body>
	<main>
		<h1>案件依頼状況参照画面</h1>
		<h2>検索条件</h2>

		<form>
			<label for="orderNo">手配番号:</label>
			<input type="text" id="orderNo" name="orderNo"><br>
			<label for="branchNo">枝番号:</label>
			<input type="text" id="branchNo" name="branchNo"><br>
			<label for="receptionNo">手配受付番号:</label>
			<input type="text" id="receptionNo" name="receptionNo"><br>
			<label for="correctionNo">補正番号:</label>
			<input type="text" id="correctionNo" name="correctionNo"><br>
			<label for="projectName">案件名:</label>
			<input type="text" id="projectName" name="projectName"><br>
			<label for="customerName">顧客名:</label>
			<input type="text" id="customerName" name="customerName"><br>
			<label for="status">ステータス:</label>
			<select id="status" name="status">
				<option value="調整中">調整中</option>
				<option value="受理済">受理済</option>
				<option value="要再依頼">要再依頼</option>
			</select><br>
			<button type="submit">検索</button>
		</form>

		<h2>依頼状況一覧</h2>
		<div id="search-results"
			hx-get="./requestStatusReference/table"
			hx-trigger="load"
			hx-swap="outerHTML"
			th:fragment="results">
			<table border="1">
				<thead>
					<tr>
						<th>手配番号 - 枝番</th>
						<th>手配受付番号 - 補正番号</th>
						<th>案件名</th>
						<th>顧客名</th>
						<th>入稿予定日</th>
						<th>納品予定日</th>
						<th>ステータス</th>
						<th>詳細</th>
					</tr>
				</thead>
				<tbody th:if="${listData.isUnsearched()} == false" th:remove="all-but-first">
					<tr th:each="element : ${listData.list}">
						<td th:text="${element.orderNumber}">OR20250223-01</td>
						<td th:text="${element.receptionNumber}">RE20250223-01</td>
						<td>
							<div>案件A</div>
						</td>
						<td>
							<div>顧客A</div>
						</td>
						<td>2025-02-01</td>
						<td>2025-02-15</td>
						<td>進行中</td>
						<td><button>表示</button></td>
					</tr>
					<tr>
						<td>OR20250223-02</td>
						<td>RE20250223-02</td>
						<td>
							<div>案件B</div>
						</td>
						<td>
							<div>顧客B</div>
						</td>
						<td>2025-02-02</td>
						<td>2025-02-16</td>
						<td>完了</td>
						<td><button>表示</button></td>
					</tr>
				</tbody>
			</table>

			<div class="table-pager">
				<span>
					N件中 N ～ N 件目を表示
				</span>
				<div>
					<a href="#">&lt;&lt;</a>
					<a href="#">&lt;</a>
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a> …
					<a href="#">&gt;</a>
					<a href="#">&gt;&gt;</a>
				</div>
			</div>
		</div>
	</main>
</body>

</html>