<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>案件依頼状況参照画面</title>
	<link rel="stylesheet" href="/src/main/resources/static/css/common.css" th:href="@{/css/common.css}">
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
</head>

<body>
	<main>
		<div id="search-results" th:fragment="results">
			<table border="1">
				<thead>
					<tr>
						<th>手配番号 - 枝番</th>
						<th>手配受付番号 - 補正番号</th>
						<th>案件名</th>
						<th>顧客名</th>
						<th>入稿予定日</th>
						<th>納品予定日</th>
						<th>ステータス</th>
						<th>詳細</th>
					</tr>
				</thead>
				<tbody th:if="${listData.isUnsearched()} == false" th:remove="all-but-first">
					<tr th:each="element : ${listData.list}">
						<td th:text="${element.orderNumberForView}">OR20250223-01</td>
						<td th:text="${element.receptionNumberForView}">RE20250223-01</td>
						<td>
							<div th:text="${element.projectName}">案件A</div>
						</td>
						<td>
							<div th:text="${element.customerName}">顧客A</div>
						</td>
						<td th:text="${element.submissionDate}">2025-02-01</td>
						<td th:text="${element.deliveryDate}">2025-02-15</td>
						<td>進行中</td>
						<td><button>表示</button></td>
					</tr>
				</tbody>
			</table>

			<div class="table-pager">
				<span>
					N件中 N ～ N 件目を表示
				</span>
				<div>
					<a href="#">&lt;&lt;</a>
					<a href="#">&lt;</a>
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a> …
					<a href="#">&gt;</a>
					<a href="#">&gt;&gt;</a>
				</div>
			</div>
		</div>
	</main>
</body>

</html>